@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:wght@400;500;800&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}
h1,
p {
  font-family: inherit;
}
h2 {
  padding: 5px 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  line-height: 38px;
  flex: 1 0 auto;
}
/* Include the padding and border in an element's total width and height */

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}
